{% extends 'myapp/base.html' %}

{% block body %}

<div class="flex flex-col justify-center items-center">
    <h1 class="text-2xl width-100 text-center font-bold m-5 p-3 shadow-lg">You have been logged out</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <button class=" p-3 rounded-lg font-bold bg-green-500 hover:bg-green-700 text-xl text-white p-2 mt-5"
            type="submit">Click
            here to log back in</button>
    </form>
</div>

{% endblock %}