{% extends 'myapp/base.html' %}

{% block body %}
<div class="w-1/2 m-20">
    <h1 class="font-bold text-center text-lg">Edit New Product</h1>
    <form class="shadow-lg p-10" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="">Name</label>
            <div class="border rounded appearance-none py-2 px-2 mr-10">{{ product_form.name }}</div>
        </div>
        <div>
            <label for="">Description</label>
            <div class="border rounded appearance-none py-2 px-2 mr-10">{{ product_form.description }}</div>
        </div>
        <div>
            <label for="">Price</label>
            <div class="border rounded appearance-none py-2 px-2 mr-10">{{ product_form.price }}</div>
        </div>
        <div>
            <label for="">Upload File</label>
            <div class="rounded appearance-none py-2 px-2 mr-10">{{ product_form.file }}</div>
        </div>
        <div class="mt-6">
            <button class="bg-green-500 hover:bg-green-700 text-white px-4 py-2" type="submit">Update Product</button>
        </div>
    </form>

    <div class="m-10">
        <a href="{% url 'delete' product.id %}"
            class="bg-red-500 hover:bg-red-700 text-white font-bold px-4 py-2 shadow-md">Delete Product</a>
    </div>
</div>


{% endblock %}