{% extends 'myapp/base.html' %}

{% block body %}

<div class="flex justify-around shadow-lg pb-5">
    <div class="ml-20 mt-20 font-bold text-xl px-3">Sales Stats for {{ user }}</div>
    <div class="mr-20 mt-20">
        <a href="{% url 'dashboard' %}"
            class="rounded-lg px-3 bg-purple-500 font-bold hover:bg-purple-700 text-white px-2 py-4">
            Return to dashboard</a>
        <a href="{% url 'index' %}"
            class="rounded-lg px-3 bg-gray-500 font-bold hover:bg-gray-700 text-white px-2 py-4">
            Return to Homepage</a>
    </div>
</div>

<div class="shadow-lg p-10 m-5 flex justify-around">
    <div class="block border border-blue-500 p-10 bg-blue-100">
        <div class="font-bold text-green-600 text-5xl">£{{ total_sales.amount__sum|floatformat:2 }}</div>
        <!-- total_sales returns dictionary e.g. {'amount__sum': 120} -->
        <div class="mt-5">Total sales</div>
    </div>

    <div class="block border border-blue-200 p-10">
        <div class="font-bold text-blue-600 text-4xl">£{{ yearly_sales.amount__sum|floatformat:2 }}</div>
        <!-- total_sales returns dictionary e.g. {'amount__sum': 120} -->
        <div class="mt-5">Last 365 days</div>
    </div>

    <div class="block border border-blue-200 p-10">
        <div class="font-bold text-orange-600 text-4xl">£{{ monthly_sales.amount__sum|floatformat:2 }}</div>
        <!-- total_sales returns dictionary e.g. {'amount__sum': 120} -->
        <div class="mt-5">Last 30 days</div>
    </div>

    <div class="block border border-blue-200 p-10">
        <div class="font-bold text-purple-600 text-4xl">£{{ weekly_sales.amount__sum|floatformat:2 }}</div>
        <!-- total_sales returns dictionary e.g. {'amount__sum': 120} -->
        <div class="mt-5">Last 7 days</div>
    </div>

</div>

<!-- Daily sales-->
<div class="border border-blue-400 m-5">
    <h3 class="font-bold text-2xl w-full mt-10 mb-2 text-center">30 Day sales</h3>
    <div class="flex">
        <!-- Daily sales figures-->
        <div class="w-1/2 shadow-lg m-10">
            <!-- header -->
            <div class="flex m-10 shadow-lg p-2">
                <div class="w-1/2 text-center font-bold">
                    Day
                </div>
                <div class="w-1/2 text-center font-bold">
                    Total Sales
                </div>
            </div>
            <!-- body-->
            {% for daily_sales_sum in daily_sales_sums %}
            <div class="flex m-10 shadow-md p-2">
                <div class="w-1/2 text-center date-values">
                    {{ daily_sales_sum.created_on__date}}
                </div>
                <div class="w-1/2 text-center text-green-700 font-bold day-sum">
                    £{{ daily_sales_sum.sum|floatformat:2 }}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Daily sales chart-->
        <div class="w-1/2 m-20 flex flex-col justify-end items-center">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<!-- Product sales-->

<div class="border border-blue-400 m-5">
    <h3 class="font-bold text-2xl w-full mt-10 mb-2 text-center">Product Sales</h3>

    <div class="flex">
        <!-- Product Sales chart-->
        <div class="w-1/2 m-20 flex flex-col justify-center items-center">
            <canvas id="myChart2"></canvas>
        </div>
        <!-- Product Sales figures-->
        <div class="w-1/2 shadow-lg m-10">

            <!-- header -->
            <div class="flex m-10 shadow-lg p-2">
                <div class="w-1/2 text-center font-bold">
                    Product
                </div>
                <div class="w-1/2 text-center font-bold">
                    Total Sales
                </div>
            </div>
            <!-- body-->
            {% for product_sales_sum in product_sales_sums %}
            <div class="flex m-10 shadow-md p-2">
                <div class="w-1/2 text-center product-name">
                    {{ product_sales_sum.products__name}}
                </div>
                <div class="w-1/2 text-center text-green-700 font-bold product-sum">
                    £{{ product_sales_sum.sum|floatformat:2 }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        const ctx = document.getElementById('myChart');

        // 30 day sales chart

        // getting daily sums to use for data
        const sums = document.getElementsByClassName('day-sum')
        const sum_values = []

        for (let i = 0; i < sums.length; i++) {
            let singleValue = sums[i].innerText;
            let numericValue = parseFloat(singleValue.replace('£', '')); // converts string rep into a float, + removing the £ sign
            sum_values.push(numericValue)
        }
        // now sum_values is an array of the daily sales e.g. [322, 53]

        // obtaining dates to use for labels
        const dates = document.getElementsByClassName('date-values')
        dateLabels = []

        for (let i = 0; i < dates.length; i++) {
            dateLabels.push(dates[i].innerText)
        }

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateLabels,
                datasets: [{
                    label: '30 Day Sales',
                    data: sum_values,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    }
                }
            }
        });


        // sales by product chart

        // getting product_sums data as chart data
        const productSums = document.getElementsByClassName('product-sum')
        const productChartValues = []

        for (let i = 0; i < productSums.length; i++) {
            let singleValue = productSums[i].innerText
            let numericValue = parseFloat(singleValue.replace('£', ''))
            productChartValues.push(numericValue)
        }

        // getting product_names as labels
        const productNames = document.getElementsByClassName('product-name')
        const productLabels = []

        for (let i = 0; i < productNames.length; i++) {
            productLabels.push(productNames[i].innerText)
        }

        // generating random colors for bars
        function generateRepeatedColors(colors, numRepeats) {
            const repeatedColors = [];
            for (let i = 0; i < numRepeats; i++) {
                repeatedColors.push(colors[i % colors.length]);
            }
            return repeatedColors;
        }
        // e.g. 5 colours, will be repeated until the numRepeats is reaches, e.g. if 10 datapoints, each will be repeated twice. 1st loop pushes first value from colors, then until the last, then repeats the process

        const predefinedColors = ['#FF5733', '#33FF57', '#5733FF', '#FFFF33', '#33FFFF'];

        const barColors = generateRepeatedColors(predefinedColors, productLabels.length);

        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: productLabels,
                datasets: [{
                    label: '# of Votes',
                    data: productChartValues,
                    borderWidth: 1,
                    backgroundColor: barColors,
                    borderColor: barColors,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                indexAxis: 'y', // changing to horizontal bar chart instead of vertical
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    }
                }
            }
        });
    </script>

    {% endblock %}